[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	ignore = dirty
[submodule "bundle/dracula"]
	path = bundle/dracula
	url = git@github.com:dracula/vim.git
	ignore = dirty
